body { 
    min-height: 100vh; 
    background-color: whitesmoke;
    margin: 0;
    padding: 0;
}

#menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    resize: none;
}

.textbox {
    width: 33.33%;
    height: 100%;
    border: 1px solid black;
    padding: 20px;
}

textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
}

@media screen and (max-width: 1024px) {
    .textbox {
        width: 100%;
        height: 50%;
    }
}
